/* import fonts */

@font-face {
    font-family: 'MonoplexKRNerd-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-nerd@1.0/MonoplexKRNerd-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family : 'MonoplexKRNerd-Bold';
    margin: 0;
}

#menu-bar {
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 900;
    left: 0;
    top: 0;
    /* background-color: bisque; */
}

#logo {
    position: absolute;
    left: 0px;
    width: 50px;
    height: 50px;
    z-index: 50;
    padding: 10px 10px 0px 30px;
    overflow: hidden;
    text-decoration: none;
    color: #5c5c5c;
}

#menu-container {
    font-family : 'MonoplexKRNerd-Bold';
    font-size: 15px;
    font-weight: 700;
    height: 50px;
    line-height: 25px;
    overflow: hidden;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#menu-container ul {
    display: block;
    list-style: none;
    text-align: center;
    padding: 0;
}

#menu-container li {
    display: inline;
    list-style-type: none;
    list-style: none;
    padding: 0 10px;
}

#menu-container a {
    text-decoration: none;
    color: #5c5c5c;
}

#wrapper {
    display: block;
    position: relative;
    text-align: left;
    width: 100%;
    margin: 100px auto 0;
    overflow: hidden;
    min-height: calc(100vh - 150px);
}

#container {
    margin: 0 auto;
    max-width: 960px;
}

#contents {
    position: relative;
    padding: 50px 40px 0;
}