/* import fonts */

@font-face {
    font-family: 'MonoplexKRNerd-Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_Monoplex-nerd@1.0/MonoplexKRNerd-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'NanumSquareNeo-Variable';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_11-01@1.0/NanumSquareNeo-Variable.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

body {
    font-family: 'NanumSquareNeo-Variable';
    font-size: 20px;
    color: #1c1c1c;
    margin: 0;
}

h1 {
    font-size: 2em;
    margin: 0 0 24px 0;
    letter-spacing: 1px;
}

h2 {
    font-size: 1.2em;
    margin: 0 0 12px 0;
    letter-spacing: 0.5px;
}

h3 {
    font-size: 0.9em;
    margin: 0 0 12px 0;
    letter-spacing: 0.5px;
}

#menu-bar {
    font-family: 'MonoplexKRNerd-Bold';
    position: fixed;
    width: 100%;
    height: 50px;
    z-index: 100;
    left: 0;
    top: 0;
}

#logo {
    font-family: 'MonoplexKRNerd-Bold';
    font-size: 12px;
    position: absolute;    
    left: 0px;
    width: 50px;
    height: 50px;
    z-index: 50;
    padding: 10px 10px 0px 30px;
    overflow: hidden;
    text-decoration: none;
    color: #6d6d6d;
}

#menu-container {
    font-size: 0.8em;
    height: 50px;
    line-height: 25px;
    overflow: hidden;
    text-align: center;
    letter-spacing: 1px;
}

#menu-container ul {
    display: block;
    list-style: none;
    text-align: center;
    padding: 0;
}

#menu-container li {
    display: inline;
    list-style-type: none;
    list-style: none;
    padding: 0 10px;
}

#menu-container a {
    text-decoration: none;
    color: #6d6d6d;
}

#wrapper {
    display: block;
    position: relative;
    text-align: left;
    width: 100%;
    margin: 100px auto 0;
    overflow: hidden;
    min-height: calc(100vh - 150px);
}

#container {
    padding: 0 20px;
    margin: 0 auto;
    max-width: 712px;
}

#contents {
    position: relative;
}