/* Portfolio Styles */
section {
    padding: 30px 0;   
    opacity: 0;
    animation: fadeIn 0.8s ease-in-out forwards;
}

strong {
    font-weight: 500;
    color: #6d6d6d;
    background-color: #D7E8BC;
}

.list-section {
    font-size: 0.8em;
    color: #575757;
    line-height: 22px;
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.list-section li {
    margin-bottom: 6px;
}

.list-section li::before {
    content: "- ";
    color: #5c5c5c;
}

.grey {
    color: #6d6d6d;
}

.card {
    padding: 25px 0;
    margin-bottom: 0;
}

.card-bottom {
    padding: 25px 0 0 0;
    margin-bottom: 0;
}

hr {
  border: none;
  height: 1px;
  color: #eee;
  background-color: #eee;
  animation: fadeIn 0.8s ease-in-out forwards;
}

/* Header */

header {
    display: flex;
    align-items: center;
    margin-top: 98px;
    padding: 30px 0;
    display: block;
    opacity: 0;
    animation: fadeIn 0.8s ease-in-out forwards;
}

.subtitle {    
    font-size: 0.8em;
    margin: 0 0 20px 0;
    line-height: 22px;
}

.contact-info {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
}

.contact-item {
    font-size: 0.6em;
    color: #ffffff;
    background-color: #6d6d6d;
    padding: 4px 8px;
    border: 1px solid #ddd;
    font-weight: 500;
    text-decoration: none;
    transition: all 0.3s ease;
}

.contact-item:hover {
    background-color: #6d6d6dc2;
}

/* 경력 */

.job-header {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 18px;
}

.job-title {
    margin: 0;
    letter-spacing: 0.5px;
}

.company-period {
    font-family: 'MonoplexKRNerd-Bold';
    font-size: 0.8em;
    color: #5c5c5c;
    margin: 0;
}

/* 프로젝트 */

.tech-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-bottom: 15px;
}

.tech-tag {
    font-size: 12px;
    color: #5c5c5c;
    padding: 2px 8px;
    border: 1px solid #ddd;
    font-weight: 500;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}